[Unit]
Description = Aria2 control daemon
After = NetworkManager-wait-online.service network.target network-online.target dbus.service


[Service]
User = xxx
Type = simple
PIDFile = /var/run/aria2.pid
ExecStart = /usr/bin/aria2c --conf-path=/etc/aria2.conf
StartLimitInterval = 60
StartLimitBurst = 10

[Install]
WantedBy = default.target
